﻿<%@ Page  Language="C#"  AutoEventWireup="true" CodeFile="resultados.aspx.cs" Inherits="resultados" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="Form1" runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Aplicación de pago con chip NFC
                </h1>
            </div>
           <div class="clear hideSkiplink">
               
            </div>
        </div>
        <div class="main">
 
                 <%=cadena%>
        </div>
    </div>
    </form>
</body>
</html>
